

a:link { text-decoration: none; color: #C9384B; }
a:visited { text-decoration: none; color: #C9384B; }
a:hover { text-decoration: underline; color: #C9384B; }
a:active { text-decoration: underline; color: #C9384B; }


.text
{
font-size: 12px;
color: #000099;
line-height: 21px;
font-family: Courier New,Courier,Monaco,monospace;
}
.tiny
{
font-size: 10px;
color: #000099;
line-height: 14px;
font-family: Courier New,Courier,Monaco,monospace;
}

.lesen
{
font-size: 11px;
color: #000099;
line-height: 18px;
font-family: Verdana,Arial,Helvetica;
}

.kontakt
{
font-size: 11px;
color: #000099;
line-height: 16px;
font-family: Verdana,Arial,Helvetica;
}

.head
{
font-size: 14px;
color: #000099;
#font-family: Courier New,Courier,Monaco,monospace;
font-family: Verdana,Arial,Helvetica;
}

