ord::0102
<h2>Builder</h2>

<h5>Erzeugungsmuster</h5>

<h4>Die Erzeugung komplexer Objekte wird vereinfacht, 
indem der Konstruktionsprozess in eine spezielle Klasse verlagert wird. 
Er wird so von der Repr&auml;sentation getrennt und kann sehr unterschiedliche
Repr&auml;sentationen zur&uuml;ckliefern.</h4>

<h3>Klassendiagramm</h3>

img::builder_cn.png

<h3>Beispiel</h3>

Das Beispiel zeigt ein Pr&uuml;fsummensystem, das eine Pr&uuml;fsumme &uuml;ber eine Reihe von Objekten
erstellen kann.

img::builder_cx.png
<area shape="rect" coords="335,206,544,349" href="Crc32ChecksumBuilder">
<area shape="rect" coords="10,24,207,112" href="ChecksumHelper">
<area shape="rect" coords="335,10,544,153" href="ChecksumBuilder">
<area shape="rect" coords="631,206,776,299" href="Checksum">

Der <i>ChecksumHelper &uuml;bergibt die Objekte an den Builder und holt sich dann das Ergebnis.</i>
<p />


Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.

ref::GOF,STEMA
