ord::0604
<h2>Coarse-Grained Lock</h2>

<h5>Persistenz</h5>

<h4>Es wird eine einzige Sperre f&uuml;r eine Menge von Objekten gesetzt, 
um diese gemeinsam zu Sperren.</h4>

<h3>Klassendiagramm</h3>

img::coarse_grained_lock_cn.png

<h3>Beispiel</h3>

Im Beispiel hat ein Kunde eine Menge von Adressen und eine Menge von Bestellungen.

img::coarse_grained_lock_cx.png
<area shape="rect" coords="207,318,362,398" href="Order">
<area shape="rect" coords="459,239,693,331" href="InMemoryLockManager.ElementLock">
<area shape="rect" coords="459,10,693,124" href="InMemoryLockManager">
<area shape="rect" coords="117,186,272,266" href="Customer">
<area shape="rect" coords="28,318,183,398" href="Address">

Die grobk&ouml;rnige Sperre stellt sicher, dass immer die Gesamtheit der Entit&auml;ten zu einem
Kunden gesperrt werden, wenn eines bearbeitet wird.

img::coarse_grained_lock_dx.png
<area shape="rect" coords="671,10,761,621" href="InMemoryLockManager.ElementLock">
<area shape="rect" coords="310,10,400,621" href="Address">
<area shape="rect" coords="210,10,300,621" href="Customer">
<area shape="rect" coords="594,10,684,621" href="InMemoryLockManager.ElementLock">
<area shape="rect" coords="410,10,530,621" href="InMemoryLockManager">
<p />


Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.

ref::PEAA
