ord::0308
<h2>Composite</h2>

<h5>Strukturmuster</h5>

<h4>Composite erm&ouml;glicht die Gleichbehandlung von Einzelelementen und Elementgruppierungen in einer verschachtelten Struktur (z.B. Baum), 
sodass aus Sicht des Clients keine explizite Unterscheidung notwendig ist.</h4>

<h3>Klassendiagramm</h3>

img::composite_cn.png

<h3>Beispiel</h3>

Im Beispiel sehen Sie eine Struktur von Unternehmenselementen.

img::composite_cx.png
<area shape="rect" coords="10,155,306,306" href="StaffMember">
<area shape="rect" coords="346,350,457,420" href="Holding">
<area shape="rect" coords="260,10,445,100" href="EnterpriseNode">
<area shape="rect" coords="493,350,604,420" href="Division">
<area shape="rect" coords="640,350,751,420" href="Company">
<area shape="rect" coords="400,155,696,306" href="AbstractEnterpriseUnit">

Trotz gro&szlig;er Unterschiede im Detail lassen sich alle Knoten
bis zu einem gewissen Grad gleich behandeln.


ref::GOF
