ord::0402
<h2>Data Transfer Object</h2>

<h5>Verteilung</h5>

<h4>Data Transfer Object (DTO) fasst in einer verteilten Umgebung (z. B. JEE)
zu &uuml;bertragende Daten in einem neuen Objekt zusammen, um die Anzahl der entfernten
Methodenaufrufe zu reduzieren und somit das Netzwerk zu entlasten.</h4>

<h3>Sequenzdiagramm</h3>

img::data_transfer_object_dn.png

<h3>Beispiel</h3>

Im Beispiel erlaubt ein <i>CustomerManager</i> den Clients Zugriff auf
<i>CustomerEntity</i>-Remote-Objekte. 

img::data_transfer_object_px.png

Bei direkter Verwendung der Entities durch den Client entstehen potenziell viele
Netzwerkaufrufe. Daher wird ein CustomerDto eingef&uuml;hrt.

img::data_transfer_object_cx.png
<area shape="rect" coords="487,159,658,217" href="CustomerManagerServer">
<area shape="rect" coords="487,10,658,68" href="CustomerEntity">
<area shape="rect" coords="221,10,392,68" href="CustomerRemote">
<area shape="rect" coords="336,283,658,380" href="CustomerManager">
<area shape="rect" coords="221,159,392,217" href="CustomerDto">
<area shape="rect" coords="10,10,166,217" href="Customer">

Die Daten zu einem Kunden werden nun in einem <i>gemeinsamen Call</i> &uuml;bertragen.

img::data_transfer_object_dx.png
<area shape="rect" coords="597,13,687,540" href="CustomerDto">
<area shape="rect" coords="435,13,525,540" href="CustomerEntity">
<area shape="rect" coords="204,13,336,540" href="CustomerManagerServer">

Ein Client liest/schreibt die einzelnen Datenfelder lokal.
<p />


Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.

ref::J2EE
