ord::0505
<h2>Dependency Injection</h2>

<h5>Integration</h5>

<h4>Es soll eine Entkopplung von nutzenden Komponenten und konfigurierten Diensten
erreicht werden, bei der die Komponenten weder wissen m&uuml;ssen, wie die Dienste hei&szlig;en,
noch wie sie zu beschaffen sind.</h4>

img::dependency_injection_cn.png

img::dependency_injection_dn.png

<h3>Beispiel</h3>

Das <i>PrintService</i>-Beispiel zeigt die 3 von <i>Martin Fowler</i> identifizierten
Arten der <i>Dependency Injection</i>.

img::dependency_injection_cx.png
<area shape="rect" coords="389,95,648,169" href="PrintServiceInjectable">
<area shape="rect" coords="389,650,648,724" href="PrintServiceImpl">
<area shape="rect" coords="389,532,648,606" href="PrintService">
<area shape="rect" coords="389,310,648,384" href="ComponentWithSetterInjection">
<area shape="rect" coords="389,213,648,287" href="ComponentWithInterfaceInjection">
<area shape="rect" coords="389,409,648,483" href="ComponentWithConstructorInjection">
<area shape="rect" coords="10,95,269,169" href="ComponentFramework">
<area shape="rect" coords="166,309,306,383" href="Component">

Unten sehen sie ein Sequenzdiagramm der <i>Setter-Injection</i>. <br />
Annotierte Attribute, wie sie heute h&auml;ufig anzutreffen sind, fallen ebenfalls in diese
Kategorie, getreu dem <i>Uniform Access Principle</i>.

<p />

Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.

ref::DI
