ord::0304
<h2>Fassade</h2>

<h5>Strukturmuster</h5>

<h4>Fassade vereinfacht den Zugriff auf ein komplexes Subsystem oder auf eine Menge zusammengeh&ouml;render Objekte.</h4>

<h3>Klassendiagramm</h3>

img::facade_cn.png

<h3>Beispiel</h3>

Im Beispiel soll den Clients eine Sicht mit den wichtigsten Daten zu einem Artikel geboten werden.

img::facade_cx.png
<area shape="rect" coords="161,102,421,177" href="ArticleViewFacade">
<area shape="rect" coords="32,209,154,245" href="ArticleManager">
<area shape="rect" coords="35,284,141,316" href="Article">
<area shape="rect" coords="277,241,402,269" href="ArticleHistory">

Neben den Metadaten (Id, Name etc.) wird auch der Durchstreichpreis aus der Historie ben&ouml;tigt.<br />
Die <i>ArticleViewFacade</i> verbirgt die Komplexit&auml;t (die unterschiedliche Herkunft der Informationen) vor den Clients.
<p />


Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.

ref::GOF
