ord::0502
<h2>Gateway</h2>

<h5>Integration</h5>

<h4>Ein Gateway gleicht Differenzen zwischen verschiedenen Repr&auml;sentationen von Objekten aus 
oder schafft einen Zugang zu einem anderen System.</h4>

img::gateway_vn.png

<h3>Beispiel</h3>

Im Beispiel betrachten wir die ultra-geheime unglaublich sichere Verschl&uuml;sselungsl&ouml;sung der
Firma SecuManga, die aus unerfindlichen Gr&uuml;nden nicht mehr existiert.<br />
Die etwas in die Jahre gekommene Schnittstelle des <i>SecuMangaServer</i>s bietet nur
nur ein obskures Protokoll &uuml;ber Port 1627.<br />
Es ist vollkommen indiskutabel, den Port 1627 einfach freizuschalten, weil leider niemand
mehr den vollen Befehlsumfang der Schnittstelle kennt. <br />
Nicht auszudenken, wenn jemand den Server in den Wartungsmodus
versetzt und sich so unbefugten Zugang zu Tracedaten verschafft!

img::gateway_cx.png
<area shape="rect" coords="104,298,295,386" href="SecuMangaService">
<area shape="rect" coords="521,10,753,98" href="SecuMangaServerMock">
<area shape="rect" coords="10,10,201,98" href="DefaultSecuMangaGatewayClient">
<area shape="rect" coords="104,153,295,241" href="SecuMangaWebService">
<area shape="rect" coords="344,298,640,386" href="SecuMangaGatewayWebService">
<area shape="rect" coords="344,153,640,241" href="SecuMangaGatewayServer">

Das Gateway-Pattern bietet den Clients hier bequemen Zugriff per Webservice.

img::gateway_px.png

Gleichzeitig wird der f&uuml;r Clients verf&uuml;gbare Funktionsumfang exakt vorgegeben.

<p />


Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.
Die Ausgaben der automatisch im Hintergrund gestarteten Server werden umgeleitet und gemeinsam
mit den Ausgaben des TestCase in der Konsole angezeigt.

ref::PEAA
