ord::0701
<h2>Identity Field</h2>

<h5>Datenbankschl&uuml;ssel</h5>

<h4>Eine Schl&uuml;sselklasse fasst die Spalten eines Datenbankschl&uuml;ssels in einem
Objekt zusammen. Damit wird die Identit&auml;t zwischen Laufzeitobjekten (in-memory objects)
und Datens&auml;tzen sichergestellt.</h4>

<h3>Beispiel</h3>

Das abstrakte Beispiel zeigt eine Entit&auml;t (Tabelle T_ENTITY) 
mit einem zweiteiligen Prim&auml;rschl&uuml;ssel (<code>PK_FIELD1</code> und <code>PK_FIELD2</code>).<br />
Die zugeh&ouml;rige <i>Entity</i> refenziert einen <i>CompoundKey</i> in ihrem <i>IdentityField</i> <b>id</b>.

img::identity_field_cx.png
<area shape="rect" coords="10,215,126,285" href="DataManager">
<area shape="rect" coords="264,216,380,286" href="Entity">
<area shape="rect" coords="200,10,442,155" href="CompoundKey">

Hier sehen sie den dynamischen Ablauf:

img::identity_field_dx.png
<area shape="rect" coords="585,10,675,708" href="CompoundKey">
<area shape="rect" coords="374,10,464,708" href="CompoundKey">
<area shape="rect" coords="505,10,555,708" href="Entity">
<area shape="rect" coords="290,10,348,708" href="Entity">
<area shape="rect" coords="153,10,243,708" href="DataManager">

<p />

Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.

ref::PEAA
