ord::0602
<h2>Identity Map</h2>

<h5>Persistenz</h5>

<h4>Eine Identity Map verwaltet Objekte, die aus einer Datenbank gelesen und
m&ouml;glicherweise ver&auml;ndert werden und stellt sicher, dass Objekte
nie mehr als einmal aus der Datenbank gelesen werden.</h4>

<h3>Klassendiagramm</h3>

img::identity_map_cn.png

<h3>Sequenzdiagramm</h3>

img::identity_map_dn.png

<h3>Beispiel</h3>

Im Beispiel nutzen ein Clients einen <i>DataManager</i>, um mit Entit&auml;ten zu arbeiten.

img::identity_map_cx.png
<area shape="rect" coords="330,58,577,134" href="Session">
<area shape="rect" coords="330,194,577,270" href="IdentityMap">
<area shape="rect" coords="330,332,468,408" href="Entity">
<area shape="rect" coords="14,10,253,86" href="DataManager">
<area shape="rect" coords="330,10,577,38" href="Database">
<area shape="rect" coords="539,293,677,369" href="CustomerEntity">
<area shape="rect" coords="539,376,677,452" href="AddressEntity">

<br />

ref::PEAA
