ord::0204
<h2>Iterator</h2>

<h5>Verhaltensmuster</h5>

<h4>Iterator erlaubt den sequenziellen Zugriff eines Clients auf die Elemente
einer Aggregation, ohne deren internen Aufbau zu kennen.</h4>

<h3>Klassendiagramm</h3>

img::iterator_cn.png

<h3>Beispiel</h3>

Zu sehen ist eine Struktur von Arbeitern, die Untergebene haben k&ouml;nnen.

img::iterator_cx.png
<area shape="rect" coords="394,179,550,268" href="WorkerIterator">
<area shape="rect" coords="58,179,288,268" href="Worker">
<area shape="rect" coords="10,10,339,125" href="AbstractWorker">

Der Iterator erlaubt, alle Untergebenenen eines Arbeiters durchzugehen.

ref::GOF
