ord::0801
<h2>Money</h2>

<h5>Sonstige Patterns</h5>

<h4>Ein Money-Objekt repr&auml;sentiert einen Geldbetrag.</h4>

<h3>Beispiel</h3>

Die vorliegende Money-Implementierung orientiert sich an der von <i>Martin Fowler</i>.

img::money_cx.png
<area shape="rect" coords="10,10,229,467" href="Money">

<p />

Schauen Sie sich den zugeh&auml;rigen TestCase genauer an. Sie finden dort eine Demonstration der grundlegenden Probleme, die den Einsatz von Money motivieren. 

ref::PEAA
