ord::0802
<h2>Null-Object</h2>

<h5>Sonstige Patterns</h5>

<h4>Es wird eine Klasse definiert, die &quot;nichts&quot; tut - wobei das &quot;Nichts&quot; fachlich ist.</h4>

<h3>Klassendiagramm</h3>

img::null_object_cn.png

<h3>Beispiel</h3>

Im Beispiel gibt der <i>HostNameDataProvider</i> eine <i>HostNameData</i>-Instanz zur&uuml;ck, die
dem Client die Namen zu jedem Zweck auflisten soll.

img::null_object_cx.png
<area shape="rect" coords="167,315,406,382" href="HostNameDataProvider">
<area shape="rect" coords="167,148,338,237" href="HostNameDataNullObject">
<area shape="rect" coords="274,10,445,99" href="HostNameData">
<area shape="rect" coords="373,148,544,237" href="ConcreteHostNameData">

Wird nichts gefunden, vermeidet der <i>HostNameDataProvider</i> die R&uuml;ckgabe von <code>null</code>.

img::null_object_dx.png
<area shape="rect" coords="575,29,713,394" href="HostNameDataNullObject">
<area shape="rect" coords="408,29,532,394" href="ConcreteHostNameData">
<area shape="rect" coords="230,29,361,394" href="HostNameDataProvider">

Stattdessen erh&auml;lt der Client ein <i>HostNameDataNullObject</i>, mit dem
er normal arbeiten kann.

<p />


Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.

ref::UNCLEBOB
