ord::0105
<h2>Object Pool</h2>

<h5>Erzeugungsmuster</h5>

<h4>Es wird die Wiederverwendung von Objektinstanzen erm&ouml;glicht,
deren Erzeugung sehr teuer ist oder deren Anzahl beschr&auml;nkt werden
soll.</h4>

<h3>Klassendiagramm</h3>

img::object_pool_cn.png

<h3>Sequenzdiagramm</h3>

img::object_pool_dn.png

<h3>Beispiel</h3>

Neben einer abstrakten Beispielimplementierung mit k&uuml;nstlichem Payload
finden Sie eine ThreadPool-Implementierung. Hier sind die Threads die
teuren Objekte.

img::object_pool_cx.png
<area shape="rect" coords="10,10,240,100" href="SimpleThreadPool">
<area shape="rect" coords="47,167,205,260" href="PoolThread">

Die Zeit eigener Thread-Pools in Java geh&ouml;rt zwar der Vergangenheit
an, seit es das Executors-Framework (java.util.concurrent) gibt.<br />
Aber zur Veranschaulichung einer Pool-Variante taugt der Code noch.

<p />


Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.

ref::SHTR
