ord::0208
<h2>Observer</h2>

<h5>Verhaltensmuster</h5>

<h4>Observer erm&ouml;glicht einem oder mehreren Objekten, automatisch auf die
Zustands&auml;nderungen eines bestimmten Objekts zu reagieren, um den eigenen
Zustand anzupassen.</h4>

<h3>Klassendiagramm</h3>

img::observer_cn.png

<h3>Beispiel</h3>

Im Beispiel soll der Fortschritt diverser Worker &uuml;berwacht werden, um
den Gesamtfortschritt anzuzeigen. 

img::observer_cx.png
<area shape="rect" coords="335,142,578,232" href="ProgressObserver">
<area shape="rect" coords="10,142,253,232" href="OutputWorker">
<area shape="rect" coords="335,10,578,100" href="OutputObserver">
<area shape="rect" coords="10,10,253,100" href="OutputObservable">

Zur Laufzeit sieht das dann so aus:

img::observer_dx.png
<area shape="rect" coords="352,13,492,370" href="ProgressObserver">
<area shape="rect" coords="189,13,325,370" href="OutputWorker">

<p />

Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.

ref::GOF,STEMA
