ord::0503
<h2>Plugin</h2>

<h5>Integration</h5>

<h4>Klassen werden erst durch die Konfiguration in ein System eingebunden und nicht
bereits zum &Uuml;bersetzungszeitpunkt, um Erweiterbarkeit und Anpassungsf&auml;higkeit
zu erh&ouml;hen.</h4>

<h3>Klassendiagramm</h3>

img::plugin_cn.png

<h3>Beispiel</h3>

Als Beispiel dient ein - zugegebenerma&szlig;en - sehr rudiment&auml;res Skripting-Framework.

img::plugin_cx.png
<area shape="rect" coords="286,575,449,646" href="FileMacroPlugin">
<area shape="rect" coords="140,489,333,561" href="StringMacroPlugin">
<area shape="rect" coords="111,150,277,244" href="MacroPluginTechInfo">
<area shape="rect" coords="217,10,500,87" href="MacroPluginRuntime">
<area shape="rect" coords="455,150,722,244" href="MacroPluginFramework">
<area shape="rect" coords="10,318,277,387" href="MacroPluginFactory">
<area shape="rect" coords="402,317,507,386" href="MacroPlugin">
<area shape="rect" coords="520,513,722,596" href="ExampleScriptingFramework">

Plugins dienen hier dazu, neue Befehle in Form von Macros zu deployen.

img::plugin_dx.png
<area shape="rect" coords="242,29,332,638" href="MacroPlugin">
<area shape="rect" coords="460,29,565,638" href="MacroPluginFactory">
<area shape="rect" coords="626,29,773,638" href="ExampleScriptingFramework">

Ein Skript nutzt diese Befehle zur Laufzeit.

<p />

Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.

ref::PEAA
