ord::0803
<h2>Registry</h2>

<h5>Sonstige Patterns</h5>

<h4>Eine Registry ist ein &quot;bekanntes&quot; Objekt, 
das beim Auffinden allgemeiner Dienste oder Objekte hilft.</h4>

<h3>Klassendiagramm</h3>

img::registry_cn.png

<h3>Beispiel</h3>

Das Beispiel zeigt eine einfache <i>PropertyRegistry</i>, die den Clients
bei der Abfrage von Einstellungen dienlich ist.

img::registry_cx.png
<area shape="rect" coords="198,10,385,97" href="PropertyRegistry">

<p />


Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.

ref::PEAA
