ord::0702
<h2>Sequence Block</h2>

<h5>Datenbankschl&uuml;ssel</h5>

<h4>Sequenzblock erzeugt auf performante und portable Weise Prim&auml;rschl&uuml;ssel
f&uuml;r persistente Objekte.</h4>

<h3>Klassendiagramm</h3>

img::sequence_block_cn.png
<area shape="rect" coords="201,10,395,92" href="SequenceBlockCache">
<area shape="rect" coords="201,162,395,244" href="SequenceBlock">

<h3>Sequenzdiagramm</h3>

img::sequence_block_dn.png
<area shape="rect" coords="487,13,577,402" href="SequenceBlock">
<area shape="rect" coords="204,13,316,402" href="SequenceBlockCache">

<p />


Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.

ref::MARINESCU
