ord::0805
<h2>Service Stub</h2>

<h5>Sonstige Patterns</h5>

<h4>Ein Service Stub, auch bekannt als &quot;Mock Object&quot;, 
stellt eine (Dummy-)Implementierung eines problematischen Services bereit.</h4>

<h3>Klassendiagramm</h3>

img::service_stub_cn.png

<h3>Beispiel</h3>

Das Beispiel zeigt einen <i>AccountManager</i>, der zur Laufzeit einen <i>AddressValidatorService</i>
nutzen soll, um ung&uuml;ltige Adressen in unserem Datenbestand zu vermeiden.<br />
Dummerweise steht die Adressvalidierung f&uuml;r Testzwecke nicht zur Verf&uuml;gung.

img::service_stub_cx.png
<area shape="rect" coords="432,239,683,302" href="AddressValidatorServiceMock">
<area shape="rect" coords="432,43,683,133" href="AddressValidatorService">
<area shape="rect" coords="10,10,321,80" href="AccountManager">
<area shape="rect" coords="177,149,321,203" href="Account">

Der <i>AddressValidatorServiceMock</i> springt in die Bresche.

<p />


Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.

ref::PEAA
