ord::0104
<h2>Singleton</h2>

<h5>Erzeugungsmuster</h5>

<h4>Singleton stellt sicher, dass nur genau eine Instanz einer Klasse erzeugt wird.</h4>

<h3>Sequenzdiagramm</h3>

img::singleton_dn.png

<h3>Beispiel</h3>

Sie finden zwei Implementierungen eines <i>Tracers</i>, der hier der Einfachheit nur die Aufgabe hat,
Zeilen in eine Datei zu schreiben.

img::singleton_cx.png
<area shape="rect" coords="252,10,462,95" href="Tracer2">
<area shape="rect" coords="10,10,220,95" href="Tracer">

Beide Implementierungen leisten dasselbe, nutzen jedoch verschiedene Wege zur
Sicherstellung der Singleton-Eigenschaften.

<p />

Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus. Beachten Sie auch die Hinweise im Quellcode.

img::singleton_photo.png

Das Foto zeigt anschaulich die wichtigsten Eigenschaften von <i>Singleton</i>:
<ul>
<li>Einfach zu verstehen</li>
<li>Zu genie&szlig;en in kleinen Mengen, &Uuml;berma&szlig; nicht empfohlen</li>
<li>Manchmal die einzige L&ouml;sung</li>
<li>Wie bei <a href="http://de.wikipedia.org/wiki/Daniel_Defoe" target="_blank">Daniel Defoe</a> wird nur allzu gern bei den Details geschlampt</li>
</ul>

ref::GOF
