ord::0703
<h2>UUID</h2>

<h5>Datenbankschl&uuml;ssel</h5>

<h4>UUID (aka GUID) erzeugt einen (nahezu garantiert) universell eindeutigen Schl&uuml;ssel.</h4>

<h3>Beispiel</h3>

Da sowohl <i>Java</i> als auch <i>.NET</i> wie auch viele andere Umgebungen
zuverl&auml;ssige Implementierungen einer UUID-Generierung bereitstellen,
sollten Sie auf kreative Bastelarbeiten verzichten.<br />
Das vorliegende Beispiel zeigt nur die UUID-Verwendung, nicht ihre Erzeugung.

img::uuid_cx.png
<area shape="rect" coords="10,10,180,177" href="Request">


Ein registrierter <i>Request</i> bekommt als ID eine UUID zugewiesen.

ref::MARINESCU
