ord::0205
<h2>Visitor</h2>

<h5>Verhaltensmuster</h5>

<h4>Visitor erm&ouml;glicht es, neue Operationen auf den Elementen 
einer Struktur zu definieren, ohne die Elemente selbst anzupassen.</h4>

<h3>Klassendiagramm</h3>

img::visitor_cn.png

<h3>Beispiel</h3>

In unserem kleinen B2B-Gesch&auml;ft haben wir es mit verschiedenen Firmen zu tun (unseren Kunden).<br>
Dabei haben wir es h&auml;ufig mit Unternehmensstrukturen (Holding, Firma, Abteilung etc.) zu tun.<br>
Auf jeder Ebene werden ggf. Rabatte gew&auml;hrt, wobei genau festgelegt ist, 
welche kombiniert werden d&uuml;rfen und welche nicht.

img::visitor_cx.png
<area shape="rect" coords="398,10,651,128" href="EnterpriseVisitor">
<area shape="rect" coords="398,255,651,373" href="EffectiveDiscountVisitor">
<area shape="rect" coords="10,494,263,621" href="CustomerOrder">
<area shape="rect" coords="10,10,263,128" href="CustomerHolding">
<area shape="rect" coords="10,333,263,451" href="CustomerDivision">
<area shape="rect" coords="10,173,263,291" href="CustomerCompany">

Visitor erm&ouml;glicht hier, den <i>konkreten</i> Rabatt zu bestimmen.

img::visitor_dx.png
<area shape="rect" coords="434,10,590,254" href="CustomerHolding">
<area shape="rect" coords="186,10,342,254" href="EffectiveDiscountVisitor">

Zur Ermittlung des Rabatts steigt der <i>Besucher</i> an der gew&auml;hlten Stelle
ein, fragt sich gewisserma&szlig;en durch, und rechnet den <i>konkreten</i> Rabatt aus.
<p />


Um das Zusammenspiel im Detail beobachten zu k&ouml;nnen, setzen Sie den log-level auf DEBUG in der logback.xml und f&uuml;hren den zugeh&ouml;rigen TestCase aus.

ref::GOF,STEMA
